.page-container {
    display: -webkit-box;
    display: flex;

    -webkit-box-orient: vertical;
    flex-direction: column;

    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.divC {
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

body {
    background-image: url("http://res.cloudinary.com/duovuuybb/image/upload/v1487380454/Artboard_1_ksldlf.png");
    background-size: 30% 70%;
    background-color: '#CCC1A8';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
