.page-container {
    display: -webkit-box;
    display: flex;

    -webkit-box-orient: vertical;
    flex-direction: column;

    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.divC {
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}
